<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button {
  padding: 4px 10px;
  margin: 1px 1200px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: #FFC717;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #FFC717}

.button:active {
  background-color: #FE6000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>Ryzen Blogspot</title>
  <link rel="icon" type="image/jpg" href="Com.jpeg">


</head>
<body class=”eupopup eupopup-top”>

  <div class=”eupopup eupopup-container eupopup-container-block”>
  <div class=”eupopup-markup”>
    <div class=”eupopup-head”>This website is using cookies</div>
    <div class=”eupopup-body”>We use cookies to ensure that we give you the best experience on our website. If you continue using the site, we\’ll assume that you are happy to receive all cookies on this website.</div>
    <div class=”eupopup-buttons”>
      <a href=”#” class=”eupopup-button eupopup-button_1″>Continue</a>
      <a href=”http://www.wimagguc.com/?cookie-policy” target=”_blank” class=”eupopup-button eupopup-button_2″>Learn more</a>
    </div>
    <div class=”clearfix”></div>
    <a href=”#” class=”eupopup-closebutton”>x</a>
  </div>

<div>

    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;" >Published: 10.17.2019, 08.00</p>

  </div>
  <div>
    <center><img src="Ryzen.gif" width="1366" height="400"><h1>RYZEN BLOGSPOT</h1></center>

</div>

<div>
  <button class="button">Post</button>
  </div>




  
 




</body>

<script src=”js/jquery-2.1.3.min.js”></script>
<link rel=”stylesheet” type=”text/css” href=”css/jquery-eu-cookie-law-popup.css”/>
<script src=”js/jquery-eu-cookie-law-popup.js”></script>

</html>